{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<br><br><br><br>
<body style="background-color:powderblue;">
            <h3 class="text-center">Saytimizga Xush kelibsiz, {{ user.username }}</h3><br>
<section id="newsSection">
    <div class="row">
        <div class="col-lg-12 col-md-12">
           <a class="text-center"><h2>Siz haqingizdagi ma'lumotlar</h2></a>
          <center><label>Username:</label><input value="{{ user.username }}" readonly placeholder="kiritilmagan"><br>
            <label>Email:</label><input value="{{ user.email }}" readonly placeholder="kiritilmagan"><br>
            <label>Ism:</label><input value="{{ user.first_name }}" readonly placeholder="kiritilmagan"><br>
            <label>Familiya:</label><input value="{{ user.last_name }}" readonly placeholder="kiritilmagan"><br>

            <h4 class="text-center"><a href="{% url 'password_change' %}" style="color:yellow">Parolni almashtirish  |  </a><a href="{% url 'logout' %}" style="color:red">Logout</a>  </h4>
           <br>
          </center>
        </div>
    </div>
</section>


{% endblock content %}