{% extends 'base/base.html' %}
{% load static %}

{% block title %}{{ news.title }}{% endblock title %}

{% block content %}
<br><br><br><br><br>
<section id="newsSection">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h2 class="text-center">Joriy xabarni tahrirlash</h2>

            <h4 class="card-footer text-center"><form method="post" enctype="multipart/form-data" >{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" style="background-color:yellow">Tahrirlash</button>
            </form></h4>

        </div>
    </div>
</section>


{% endblock content %}